<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1 class="dinderLogo"> Dinder</h1>
  <ul class="navbar">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/users">Users</a>
    </li>
    <li>
      <a href="/parks">Parks</a>
    </li>
  </ul>
  <button class="signUp">
    <a href="/users/new">Sign Up</a>
  </button>
  {{{body}}}
</body>

</html>