<h1>Create New User</h1>
<center>
  <div class="form-group">
  <form action="/users" method="POST">
    <div>
      <label for="title">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Users name" />
    </div>
    <div>
      <label for="description">Image</label>
      <input type="text" class="form-control" name="image" placeholder="Users Image" />
    </div>
    <div>
      <label for="subject">Favorite Park</label>
      <input type="text" class="form-control" name="favPark" placeholder="Users Fave Park" />
    </div>
    <button type="submit">Sign Up</button>
  </form>
  </div>
</center>