body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://vetstreet-brightspot.s3.amazonaws.com/2f/beebb0ae2111e088ab0050568d634f/file/54-dog-parks-danger-452mk071511.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
}
  
  h3{
  color: salmon;
  text-decoration: underline;
}
 

a {
  color: #00B7FF;
  text-decoration: none;
}
.signUp{
  float: right;

}
p{
  color: teal;
  font-size: 15px;
}
label{
  font-size: 25px;
  color: salmon;
}
.addDogForm{
  text-decoration: underline;
  font-size: 35px;
}

.navBar{
  border: 2px solid teal;
  max-width: 100%;
  background-color: teal;
  
}
.nav{
  color: teal;
}
a{
  color: white;
  text-decoration: none;
}
.btn{
  width: 150px;
  background-color: teal;
}
.btn:hover{
  background-color: salmon;
  cursor: pointer;
}
.dogName{
  text-decoration: underline;
}

.bigDinder{
  font-size: 150px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: salmon;
  padding: 70px;
  text-shadow: 2px 2px teal;

}
.userPic{
  width: 400px;
}

.dogPic{
  width: 200px;
}
.dogShow{
  width: 300px;
  border-radius: 50%;
  height: 300px;
  
}
.userShow{
  text-decoration: underline;

  
}
.favParkProf{
  width: 650px;
  margin: auto;
  display: block;
}
.favPark{
  width: 150px;
}
.userPicProf{
  width: 350px;
  border-radius: 50%;
  
}
.dinderLogo{
  font-family: 'Raleway', sans-serif;
  color: salmon;
  font-size: 35px;
  text-shadow: 1px 1px teal;
}
.userBox{
  display: inline-flex;
  border: 1px solid black;
  background-color: salmon;
   margin: 10px auto;
  
}

.dogBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
  text-align: center;
  padding: 50px;
}
.userInfo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  padding: 25px;
  text-align: center;
  max-width: 650px;
}
.dinderBtn{
  display: inline-flex;
}
.match{
  padding: 10px;
}
.noMatch{
  padding: 10px;
}
.dogBtns{
  display: inline-flex;
}
.delete{
  padding: 10px;
}
.addBtn{
  padding: 10px;
}
.view{
  padding: 10px;
}
.ownerDog{
  color: salmon;
  text-decoration: underline;
}
#userInfo{
  color: black;
}