body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar{
  display: inline;
}

.bigDinder{
  font-size: 150px;
  text-align: center;

}

